/*初始化css*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body {
    min-width: 1040px;text-align:center;background:#fff; color:#555; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a {color:#656565;text-decoration:none; }
a:hover { color: #c81623;text-decoration:none; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;}

.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
/*初始化css结束*/
.bold{
    font-weight: bold;
}
#container{
}
#header{
    background: #f1f1f1;
    height: 30px;
    font-size: 12px;
    color: #656565;
}
#header p{
    margin-top: 7px;
    display: inline-block;
    margin-left: -118px;
}
.down_angle{
    position: relative;
    line-height: 0.5px;
    font-size: 11px;
    display: inline-block;
    height: 7px;
    overflow: hidden;
}
#h-ul{
    margin-top: 9px;
    float: right;
    margin-right: 227px;
}
.h-li{
    float: left;
    display: inline-block;
    padding-right: 10px;
    padding-left: 11px;
    height: 12px;
    line-height: 12px;
}
.h-li i{
    position: relative;
    display: inline-block;
    top: -4px;
}
#h-li2,#h-li3,#h-li4,#h-li5,#h-li6,#h-li7,#h-li8,#h-li9{
    border-right: 1px solid #DDDDDD;
}
#h-lii{
    margin-left: 0px;
    padding: 0px 2px 0px 4px;
}
#h-li1{
    padding-right: 2px;
}
#h-li7{
    padding-left: 3px;
}
#h-li4,#h-li7,#h-li8,#h-li9,#h-li10{
    padding-right: 3px;
}
#h-li4,#h-li3,#h-li2{
    padding-left: 10px;
}
#h-li2 a{
    color:#c81623 !important;
}
#header-img{
    background: #8a25c6;
    height: 80px;
    position: relative;
}
#header-img img{
    margin: 0 227px;
}
#close{
    width: 19px;
    height: 19px;
    position: absolute;
    background: url("images1/close.png");
    left: 1418px;
    top: 5px;
    overflow: hidden;
}
#close:hover{
    -ms-background-position-y: 19px;
    background-position-y: 19px;
}
#content-up{
    margin: 0 auto;
}
#logo{
    float: left;
    display: inline-block;
    margin-top: 25px;
    margin-right: auto;
    width: 160px;
    overflow: hidden;
    position: relative;
    left: 227px;
}
#gif{
    float: left;
    display: inline-block;
    margin-top: 10px;
    margin-left: 8px;
    position: relative;
    left: 227px;
 }
#search{
    display: inline-block;
    position: relative;
    left: 227px;
}
#search li{
    font-size: 12px;
    float: left;
    margin-right: 8px;
}
#search{
    float: left;
    margin-top: 25px;
    margin-left: 12px;
}
#search input{
    border: 2px solid #b61d1d;
    width: 454px;
    height: 32px;
    margin-top: -5px;
    margin-bottom: 5px;
}
#search button{
    font-size: 14px;
    border: none;
    background: #b61d1d;
    color: white;
    width: 80px;
    height: 36px;
    margin-left: -5px;
}
#car{
    float: left;
    width: 139px;
    height: 34px;
    border: 1px solid #dfdfdf;
    margin-top: 25px;
    margin-left: 106px;
    font-size: 12px;
    position: relative;
    left: 227px;
}
#car p{
    display: inline-block;
    position: absolute;
    left: 43px;
}
#p{
    position: relative;
    margin-top: 9px;
}
#right_angle{
    width: 7px;
    overflow: hidden;
    position: absolute;
    left: 123px;
    top: 1px;
}
.right_angle{
    position: relative;
    left: -6px;
    font-size: 11px;
    display: inline-block;
    overflow: hidden;
}
#car-logo{
    display: inline-block;
    width: 16px;
    height: 13px;
    background: url("images1/sprite.png");
    background-position-y: 43px;
    background-position-x: -1px;
    overflow: hidden;
    position: absolute;
    left: 20px;
    top: 1px;
    margin-right: 20px;
}
#upright{
    position: absolute;
    line-height: 12px;
    color: white;
    width: 14px;
    height: 12px;
    background: #c81623;
    left: 103px;
    top: -4px;
    border:1px solid #c81623;
    border-radius: 7px 7px 7px 0;
}
#content-down{
    border-bottom: 2px solid #b1191a;
    margin-top: 7px;
    padding-bottom: 44px;
}
#classify{
    float: left;
    background: #b1191a;
    width: 210px;
    height: 44px;
    font-size: 14px;
    color: white;
    line-height: 44px;
    text-align: left;
    position: absolute;
    left: 227px;
}
#content-down ul{
    position: absolute;
    left: 437px;
}
#content-down li{
    float: left;
    margin: 12px 20px;
    font-size: 15px;
}
#cdimg{
    float: left;
    height: 44px;
    position: absolute;
    left: 1297px;
}
#cu{
    position: relative;
}
#cul{
    background: url("images1/new.jpg");
    position: absolute;
    width: 16px;
    height: 17px;
    left: 34px;
    top: -12px;
}
#main{
    background: url("images1/banner.jpg");
    width: 1665px;
    height: 635px;
    background-position-x: -129px;
    position: relative;
}
#mainul{
    float: left;
    position: absolute;
    left: 227px;
}
#mainul li{
    line-height: 31px;
    font-size: 15px;
    text-align: left;
    width: 210px;
    height: 31px;
    background: #c81623;
    color: white;
}
#mainul span{
    display: inline-block;
    float: right;
    margin-right: 10px;
}
#main_pic{
    float: left;
    position: absolute;
    left: 447px;
    top:11px;
}
#main_pic img{
    float: left;
}
#main_pic_left{
    color: white;
    width: 28px;
    height: 62px;
    font-size: 16px;
    line-height: 58px;
    background: #b19fb3;
    position: absolute;
    left: 0px;
    top: 196px;
}
#main_pic_right{
    color: white;
    width: 28px;
    height: 62px;
    font-size: 16px;
    line-height: 58px;
    background: #b19fb3;
    position: absolute;
    left: 702px;
    top: 196px;
}
#main_pic_left:hover,#main_pic_right:hover{
    background: #857787;
}
#circle{
    position: absolute;
    left:300px;
    top:428px;
}
#circle li{
    font-size: 12px;
    text-align: center;
    line-height: 18px;
    background: #3e3e3e;
    width: 18px;
    height: 18px;
    border-radius: 9px 9px 9px 9px;
    float: left;
    margin-right: 4px;
    color: white;
}
#lastone{
    background: #b61b1f !important;
}
#main_right{
    float: left;
    position: absolute;
    left:1187px;
    top: 11px;
}
#main_right1{
    width: 247px;
    height: 43px;
    background: white;
    border: 1px solid #e4e4e4;
    border-bottom: 1px dashed #e4e4e4;
    text-align: left;
    line-height: 40px;
}
#main_right1 p{
    margin-left: 15px;
}
#main_right3 p{
    margin-left: 15px;
}
#main_right2{
    padding-left: 15px;
    padding-top: 14px;
    font-size: 12px;
    width: 232px;
    height: 141px;
    border: 1px dashed #e4e4e4;
    border-top: none;
    text-align: left;
    line-height: 26px;
}
#main_right3{
    width: 248px;
    height: 43px;
    border: 1px dashed #e4e4e4;
    border-top: none;
    border-bottom: none;
    text-align: left;
    line-height: 40px;
}
#main_right4{
    width: 248px;
    height: 208px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}
#m4ul li{
    font-size: 12px;
    display: inline-block;
    width: 61px;
    height: 69px;
    float: left;
    border: 1px solid #e4e4e4;
    border-bottom: none;border-right: none;
}
#m4ul div{
    width: 19px;
    height: 24px;
    background: url("images1/icon_lifeserv.png");
    -ms-background-position-x: 22px;
    background-position-x: 22px;;
    margin-left: 20px;
    margin-top: 10px;
}
#banner{
    float: left;
    position: absolute;
    left: 227px;
    top: 475px;
}
#banner img{
    float: left;
}
#slogan{
    height: 94px;
    background: #f5f5f5;
    position: relative;
}
#slogan img{
    float: left;
    position: relative;
    left: 225px;
    margin-right: 100px;
    margin-top: 20px;
}
.w {
    width: 1210px;
    margin: 0 auto;
}
.shopping dl {
    width: 198px;
    float: left;
    text-align: left;
    font-size: 12px;
    line-height: 24px;
}
.shopping dt, .coverage .dt {
    font-size: 16px;
    font-family: "Microsoft YaHei UI";
    height: 28px;
    padding-top: 10px;
}
.coverage {
    float: right;
    width: 210px;
    height: 165px;
    background: url(images1/china.png) no-repeat left bottom;
}
.coverage .dd,.coverage .dt{

    text-align: left;
}
.again {
    font-size: 12px;
    border-top: 1px solid #E5E5E5;
    padding: 23px 0 30px 0;
    margin-top: 30px;
    text-align: center;
}
.links {
    height: 25px;
}
.links a {
    padding: 0 6px;
}
.copyright {
    line-height: 18px;
    margin-bottom: 10px;
}

